body
{
  background: url('IMG/img1.jpg');
  background-size: auto;
  height: auto;
  width: auto;
}

h1, h2, h3, h4, h5, h6
{
  color: rgb(0, 255, 0);
}

.video
{
  box-shadow: 20px 20px 15px #000;
  border-width: thick;
  border-style: inset;
  border-color: inherit;
  position: relative;
  margin-left: 31%;
}

header
{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  border-bottom: 5px solid #f0f0f0;
  z-index: 100;
  color: #878787;
  font-family: fantasy;
  font-size: 20px;
}

#logo
{
  margin: 25px;
  float: left;
  width: 200px;
  height: 40px;
  display: block;
  color: #d70000;
}

nav
{
  float: right;
  padding: 20px;
}

menu-icon
{
  width: 40px;
  height: 40px;
  color: #005fff
  display: none;
}

a:hover#menu-icon
{
  background: #eeeeee;
  border-radius: 4px 4px 0 0;
  color: #0f0;
}

ul
{
  list-style: none;
}

li
{
  display: inline-block;
  float: left;
  padding-left: 10px;
}

a
{
  color: #0000ff;
}

.current
{
  color: 000000;
  font-size: 30px;
  background: #fff;
}
@media only screen and (max-width: 640px)
{
  body
  {
    background: url('IMG/img1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .cnt
  {
    flex-flow: row wrap;
  }
  header
  {
    position: fixed;
  }
  menu-icon
  {
    display: inline-block;
    color: #00f;
    width: 100%;
  }
  nav ul, nav:active ul
  {
    display: none;
    position: absolute;
    padding: 20px;
    background: #000;
    border: 5px solid #f00;
    right: 20px;
    top: 60px;
    width: 100%;
    border-radius: 20px;
  }
  nav li
  {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 4px solid #fff;
    margin: 0;
    margin-bottom: 10px;
    }
    nav:hover li
    {
      display: block;
    }
    a
    {
      color: #005f;
      font-size: 25px;
      font-family: fantasy;
    }
}

.bdy
{
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 75px;
}

.title
{
  font-size: 35px;
  color: inherit;
  margin-top: 15px;
}

.intro
{
  font-size: 20px;
  color: inherit;
  background: rgba(238, 238, 238, 0.5);
  text-align: center;
  padding-left: 20px;
  margin-left: auto;
  border: 4px solid #c0c0c0;
}

.cnt
{
  display: flex;
  justify-content: center;
}

.cnt>div
{
  margin: 10px;
  background: rgba(238, 238, 238, 0.5);
  color: inherit;
  font-size: 20px;
}
.first
{
  width: auto;
  text-align: center;
  border-radius: 100px;
  padding: 25px;
}
.second
{
  width: auto;
  text-align: center;
  border-radius: 100px;
  padding: 25px;
}
.third
{
  width: auto;
  text-align: center;
  border-radius: 100px;
  padding: 25px;
}
.bnr
{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-top: 10;
  margin-bottom: 15px;
  margin-right: 20px;
}
